<template name="login">

    <div class="row-fluid">
       <form id="login-form" action="action">
         <div>
			
		    <div class="form-group">
		      <label for="login-username">Username</label>
		      <input type="text" class="form-control" id="login-username">
		    </div>
			
		    <div class="form-group">
		      <label for="login-password">Password</label>
		      <input type="password" class="form-control" id="login-password">
		    </div>

			<input type="submit" class="btn btn-default" id="login-button" value="Signin" />
        </div>
      </form>
	  <small><a href="forgot">Forgot your password?</a></small><br>
	  Don't already have an account? <a href="register">Register here!</a>
    </div>
  
</template>


